.DS_Store
D:\Projects\Demasy-Labs\github\elastic-deploy\src\server\OAF\jdev\myclasses
D:\Projects\Demasy-Labs\github\elastic-deploy\src\server\OAF\jdev\myhtml
D:\Projects\Demasy-Labs\github\elastic-deploy\src\server\OAF\jdev\system
D:\Projects\Demasy-Labs\github\elastic-deploy\src\server\OAF\jdev\dbc_files
D:\Projects\Demasy-Labs\github\elastic-deploy\src\server\OAF\jdev\oa_version.txt
D:\Projects\Demasy-Labs\github\elastic-deploy\src\server\OAF\jdev\JDEV.bat